/**
 * Dark Boxes Example.
 * ===================
 */
.boxes .slide {
  margin: 10px 5px;
  text-align: center;
  color: #E6E6E6;
  background: #363A41;
}
.boxes .slide.active { background: #594A69; }
.boxes .slide h3 {
  margin: 0;
  padding: 2.25em 1em;
}
.boxes .nav {
  margin: .5em;
  text-align: center;
}
.boxes .nav a {
  display: inline-block;
  margin: 0 .125em;
  padding: .325em 1em;
  font-size: 18px;
  color: #FCFCFC;
  text-decoration: none;
  background: #667292;
  opacity: .88;
}
.boxes .nav a:hover { opacity: 1; }
