/**
 * Dark boxes example.
 * ---------------------------------------- */
.boxes .slide {
  margin: 10px 5px;
  text-align: center;
  color: #E6E6E6;
  background: #363A41;
}
.boxes .slide.active { background: #594A69; }
.boxes .slide h3 {
  margin: 0;
  padding: 2.25em 1em;
}
.boxes .nav {
  margin: .5em;
  text-align: center;
}
.boxes .nav a {
  display: inline-block;
  margin: 0 .125em;
  padding: .325em 1em;
  font-size: 18px;
  color: #FCFCFC;
  text-decoration: none;
  background: #667292;
  opacity: .88;
}
.boxes .nav a:hover { opacity: 1; }


/**
 * Full view example.
 * ---------------------------------------- */
.slideview { height: 100%; }

.slide {
  /* Hide all slides so we can fade in the active 
   * slide and implement a fadeIn/fadeOut effect. */
  opacity: 0.2;

  min-height: 480px;

  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  -webkit-transition: opacity .9s;
  -moz-transition: opacity .9s;
  -ms-transition: opacity .9s;
  -o-transition: opacity .9s;
  transition: opacity .9s;
}
.slide.active {
  /* Fade it in. */
  opacity: 1;

  /* The active one should have a higher z-index 
   * than the other in case they overlap. */
  z-index: 10;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s;
}
.next-slide { z-index: 5; }

/**
 * Remove the fadeIn/fadeOut while we're sliding all 
 * the way to the first or last slide.
 */
.slide-to-first .slide, .slide-to-last .slide { opacity: 1; }

/**
 * Make sure images fill their container.
 */
.slide img {
  display: block;
  width: 100%;
  height: auto;
}

/**
 * Specify a slide transition other than default.
 */
.offscreen {
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  -moz-transition: -moz-transform 0.35s ease-in-out;
  -ms-transition: -ms-transform 0.35s ease-in-out;
  -o-transition: -o-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

/**
 * Style the nav.
 */
.nav { position: relative; }
.nav a {
  position: absolute;
  bottom: 40px;
  display: inline-block;
}
.nav .prev { left: 0; left: 30px; }
.nav .next { right: 0; right: 30px; }
