/**
 * Slideview core styles.
 */
.slideview, .slideview * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slideview { position: relative; }
.slideview .inner {
  position: relative;
  overflow: hidden;
}
.slideview ul, .slideview li {
  margin: 0;
  padding: 0;
}
.offscreen {
  display: none;
  position: relative;
  overflow: hidden;

  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.slide {
  display: block;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}
.slide.active {
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
