* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 114%;
  color: #48494B;
  line-height: 1.4;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.text-center { text-align: center; }
.text-thin { font-weight: 300; }
.text-normal { font-weight: 400; }
hr { border: none; border-bottom: 1px solid #eee; }
pre[class*="language-"] { font-size: 15px; }
:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #2E3136 !important; }
small { font-size: .665em; }
h1, h2, h3, h4, p {
  margin: 0;
  margin-bottom: .325em;
  line-height: 1.5;
}
iframe { width:100%; min-height:100%; }
a {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-decoration: none;
}
.landing-header {
  margin-bottom: 1em;
  display: block;
  background: rgba(0, 0, 0, 0.9) url('../../images/448.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.landing-header, .intro {
  display: table;
  width: 100%;
  height: 464px;
}
.intro {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-bottom: 7px solid rgba(207, 208, 211, 0.2);
  padding: 0 1em;
  font-size: 1.125em;
  overflow: hidden;
  text-align: center;
  color: #E6E7E9;
  background: rgba(0, 0, 0, 0.6);
}
.intro .lib-name { font-size: 1.25em; }
.intro h1 { margin-bottom: 0; }
.intor .lib-desc { margin-top: 0; }
.container { padding: 2em 3.5em; }
@media screen and (max-width: 540px) { .container { padding: 1.5em; } }
.slideview-section {
  display: block;
  margin-bottom: 8%;
}
.slideview-section .slideview p {
  font-size: 17px;
  padding: 10px 2px;
}
footer {
  padding: 2.325em 2em;
  text-align: center;
  background: #363A41;
  color: #F1F1F1;
}
footer p { margin: 0; }
footer a { color: #CAA1F0; }
.btn {
  display: inline-block;
  padding: 8px 30px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
}
.btn-default {
  color: #FFF;
  background-color: rgba(112, 112, 112, 0.15);
  border-width: 2px;
  border-color: #C7C7C7;
  opacity: .8;
  font-size: .8em;
  font-weight: 400;
}
.btn-default:hover { opacity: .99; }
.btn-wrapper { margin-top: 17px; }

.btn-purple {
  padding: 7px 14px;
  color: #F8E8FF;
  background-color: rgba(51, 38, 63, 0.9);
  border-color: rgba(116, 71, 151, 0.6);
  opacity: .88;
  font-weight: 600;
  border-radius: none;
}
.btn-purple:hover { opacity: .99; }
